In [1]:
import pandas as pd

In [41]:
flights = pd.read_csv("D:/Github/Ciencia-de-Dados-2022/python-in-rstudio/dados/flights.csv")

In [42]:
flights

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [43]:
flights.describe(include='all')

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,100000.0,100000.0,100000.000000,100000.000000,98858.000000,100000.000000,98698.000000,100000.000000,100000,100000.000000,...,98698.000000,98858.000000,100000.000000,1142,100000.000000,19629.000000,19629.000000,19629.000000,19629.000000,19629.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN,NaN,...,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94055,NaN,...,NaN,NaN,NaN,683,NaN,NaN,NaN,NaN,NaN,NaN
mean,2008.0,1.0,17.087860,3.890040,1355.200722,1341.989400,1492.739225,1502.601540,NaN,1510.648540,...,4.768962,10.927765,0.011420,NaN,0.001600,9.573488,2.036120,8.353151,0.110805,29.343675
std,0.0,0.0,8.356364,1.952999,464.089632,451.356984,496.376794,478.100216,NaN,1186.128598,...,2.983635,5.989580,0.106253,NaN,0.039968,21.836836,13.815868,18.826087,1.724888,39.753529
min,2008.0,1.0,1.000000,1.000000,1.000000,600.000000,1.000000,5.000000,NaN,1.000000,...,1.000000,1.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,1.0,10.000000,2.000000,942.000000,940.000000,1114.000000,1120.000000,NaN,502.000000,...,3.000000,8.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2008.0,1.0,17.000000,4.000000,1344.000000,1335.000000,1518.000000,1520.000000,NaN,1320.000000,...,4.000000,9.000000,0.000000,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,18.000000
75%,2008.0,1.0,24.000000,5.000000,1743.000000,1730.000000,1913.000000,1910.000000,NaN,2362.000000,...,5.000000,12.000000,0.000000,NaN,0.000000,11.000000,0.000000,10.000000,0.000000,37.000000
max,2008.0,1.0,31.000000,7.000000,2359.000000,2235.000000,2400.000000,2355.000000,NaN,7676.000000,...,213.000000,150.000000,1.000000,NaN,1.000000,431.000000,267.000000,366.000000,88.000000,434.000000

In [44]:
flights.isnull().sum()

Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime               1142
CRSDepTime               0
ArrTime               1302
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum               1142
ActualElapsedTime     1302
CRSElapsedTime           0
AirTime               1302
ArrDelay              1302
DepDelay              1142
Origin                   0
Dest                     0
Distance                 0
TaxiIn                1302
TaxiOut               1142
Cancelled                0
CancellationCode     98858
Diverted                 0
CarrierDelay         80371
WeatherDelay         80371
NASDelay             80371
SecurityDelay        80371
LateAircraftDelay    80371
dtype: int64

In [45]:
flights['Dest'].describe()

count     100000
unique        81
top          LAS
freq        6734
Name: Dest, dtype: object

In [46]:
flights = flights[flights['Dest'] == 'LAS']

In [47]:
flights = flights[['CarrierDelay','DepDelay','ArrDelay']]

In [48]:
flights

       CarrierDelay  DepDelay  ArrDelay
6              10.0      67.0      57.0
7               NaN      -1.0     -18.0
29              NaN       4.0     -22.0
335            18.0      36.0      24.0
336            16.0      30.0      33.0
...             ...       ...       ...
99724           NaN       6.0       7.0
99756           NaN      -4.0       6.0
99757           NaN      -5.0       3.0
99828           NaN     -42.0      13.0
99829           0.0      26.0      46.0

[6734 rows x 3 columns]

In [49]:
flights = flights.dropna()

In [50]:
flights

       CarrierDelay  DepDelay  ArrDelay
6              10.0      67.0      57.0
335            18.0      36.0      24.0
336            16.0      30.0      33.0
338            13.0      27.0      62.0
339             0.0      55.0      51.0
...             ...       ...       ...
93882           0.0       5.0      77.0
94025           0.0     136.0     122.0
94037           0.0      93.0      95.0
94040          32.0      32.0      32.0
99829           0.0      26.0      46.0

[1574 rows x 3 columns]